* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  background: #efefef;
}
.navbar-dark {
  background: #032ca6;
}
.dropdown-menu {
  padding: 0;
  border-radius: 0;
}
.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #fff;
  background: #032ca6;
}
main {
  padding: 2rem 0;
}
footer {
  background: #032ca6;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #efefef;
}
